<!DOCTYPE html>
<html>
  <head>
    <title>GridApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div class="app-background">
        <nav class="application-nav orange-bg">
          <ul>
            <li><span class="text-white">about us</span></li>
            <li><span class="text-white"> work with us</span> </li>
            <li> <span class="text-white"> resources </span></li>
            <li> <span class="lightup-text"> Light Up Your Life </span></li>
            <li><%= image_tag "round.jpg", class: "img-circle floating" %></li>
          <ul>
        </nav>
        <div class="container-fluid ">
          <%= yield %>  
        </div>  
    </div>
    
  </body>
</html>
